/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variables*/
:root {
    --dark: #111;
    --light: #fff;
    --primary: #0d6efd;
    --gray: #f4f4f4;
    --radius: 8px;
}

/* general */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--gray);
    line-height: 1.6;
}

img {
    width: 100%;
    display: block;
    border-radius: var(--radius);
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
.site__header {
    background: var(--dark);
    color: var(--light);
    padding: 1rem;
    text-align: center;
}

/* nav flex */
.site__nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #222;
    list-style: none;
}

.site__nav a {
    color: var(--light);
    padding: 1rem;
    display: block;
}

.site__nav a:hover {
    background: var(--primary);
}

/* main */
.site__main {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: auto;
}

/* grid layout */
.layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* card en columnas */
.layout__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* card inicial */
.card {
    background-color: var(--light);
    padding: 1.5rem;
    border-radius: var(--radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
}

.card__title {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-align: center;
}

/* texto expandido / colapsado  */
.card__toggle {
    display: none;
}

.card__text {
    margin-top: 0.8rem;
    color: #333;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    flex-grow: 1;
}

/* Texto expandido */
.card__toggle:checked~.card__text {
    display: block;
    text-align: justify;
    hyphens: auto;
}

/* card */
.card__media {
    margin-top: 1rem;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: var(--radius);
    transition: all 0.4s ease;
}

/* Imagen expandida */
.card__toggle:checked~.card__media {
    height: auto;
    object-fit: contain;
}

/* leer más / leer menos */
.card__btn {
    margin-top: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-start;
    color: var(--primary);
}

/* Texto del botón */
.card__btn::before {
    content: "Leer más";
}

/* Cambia texto cuando está expandido */
.card__toggle:checked~.card__btn::before {
    content: "Leer menos";
    color: #dc3545;
}

.card__btn:hover {
    text-decoration: underline;
}

/* aside */
.layout__aside {
    background-color: var(--light);
    padding: 1.5rem;
    border-radius: var(--radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.layout__aside h3 {
    margin-bottom: 1rem;
}

.layout__aside ul {
    padding-left: 1.2rem;
}

/* formulario*/
.form-section {
    display: flex;
    justify-content: center;
}

.form {
    background-color: var(--light);
    padding: 2rem;
    border-radius: var(--radius);
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.form h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.form label {
    font-weight: bold;
    margin-top: 1rem;
    display: block;
}

.form input,
.form textarea {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form input:focus,
.form textarea:focus {
    outline: none;
    border-color: var(--primary);
}

/* botón form */
.btn {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.7rem;
    background-color: var(--primary);
    color: var(--light);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #084298;
}

/* footer*/
.site__footer {
    margin-top: 3rem;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1.5rem;
}

/* responsive */
@media (min-width: 768px) {
    .layout {
        grid-template-columns: 3fr 1fr;
    }
}